html, body,form{
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
header{
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #424A4D;
  color: white;
  height: 50px;
  z-index: 60000;
  box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.47);
}
.contenedor-barra{
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
}
.logo-navbar{
  float: left;
  width: 19%;
 
}
.logo-navbar a{
  font-size: 30px;
  text-decoration: none;
  color: white;
}
.nav-options a{
  color: white;
}
.contenedor-barra nav{
  float: right;
}
header{
  -webkit-transition-property: box-shadow;
  -webkit-transition-duration: 0.5s, 1s;
  -webkit-transition-timing-function: linear; ease-out;

  -moz-transition-property: box-shadow;
  -moz-transition-duration: 0.5s, 1s;
  -moz-transition-timing-function: linear; ease-out;

  transition-property: box-shadow;
  transition-duration: 0.5, 1s;
  transition-timing-function: linear; ease-out;
}
header:hover{
  -webkit-box-shadow: 10px 10px 43px -2px rgba(0,0,0,0.38);
  -moz-box-shadow: 10px 10px 43px -2px rgba(0,0,0,0.38);
  box-shadow: 10px 10px 43px -2px rgba(0,0,0,0.38);
}

.main-content{
  margin-top: 70px;

}

.empleado-content {
    margin-left: 22%;
    margin-top: 2%;
    float: left;
    width: 60%;
    box-shadow: 10px 10px 57px -2px rgba(0,0,0,0.47);
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    background-color: white;
    
}
h2{
  text-align: center;
}

.textarea {

  margin-left: 15%;
  width: 70%;
  height: 300px;
  border: 1px solid #ddd;
  overflow-y: scroll;
}

#mensajes {
  height: auto;
}
.texto {
  padding:4px;
  background:#fff;
}

i{
  margin-left: 11%;
}

.nav-options{
    width: 53%
}

.nav-options nav{
  width: 65%;
}
.nav-options ul{
    list-style: none;
    width: 80%;
    float: left;    
}

.nav-options ul li{
    margin-left: 4%;
    float: left;
    list-style: none;
}

.nav-options ul  li a{
  text-decoration: none;
  color: #FFF;
}
.logo-iniciar-sesion{
  float: right;
}

.responsive-nav{
  display: none;
}

.dropbtn {
    background-color: #424A4D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    overflow: auto;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
}
.dropdown a:hover {
  background-color: #f1f1f1
}
.show {
  display:block;
}

@media only screen and (min-width: 1025px){
  .dropdown{
    display: none;
  }
}

/*tablet*/
@media only screen and (min-width : 768px) and (max-width : 1024px){

.contenedor-barra{
  margin-left: 0px;
}

  .logo-navbar {    
    width: 10%;    
  }

  .name-admin, .nav-ul, .text-logo{
    display: none;
  }

  .nav-options {
    width: 60%;
  }

  .dropdown, .responsive-nav{
    display: block;
  }
  .dropdown{
    float:left;
  }

  .fa-home{
    display: none;
  }

  .dropbtn{
    margin-top: 0px;
    display: inline-block;
  }

  .responsive-nav{
    width: 70%;
    float: right;
  }

  .responsive-nav nav{
    width: 35%;
  }

  .responsive-nav ul{
    list-style: none;
    width: 20%;       
  }

  .responsive-nav ul li{  
    float: left;
    list-style: none;
  }

  .responsive-nav ul  li a{
    text-decoration: none;
    font-size: 18px;
     color: #FFF;
  }

}

@media only screen and (min-width : 321px) and (max-width : 767px){

.contenedor-barra{
  margin-left: 0px;
}

   .logo-navbar {    
    width: 10%;    
  }

  .name-admin, .nav-ul, .text-logo{
    display: none;
  }

  .nav-options {
    width: 75%;
  }

  .nav-options ul {
    width: 50%;
    margin-left: 10%;
  }

  .dropdown, .responsive-nav{
    display: block;
  }
  .dropdown{
    float:left;
  }

  .fa-home{
    display: none;
  }

  .dropbtn{
    margin-top: 0px;
    display: inline-block;
  }

  .responsive-nav{
    width: 78%;
    float: right;
  }

  .responsive-nav nav{
    width: 35%;
  }

  .responsive-nav ul{
    list-style: none;           
  }

  .responsive-nav ul li{  
    float: left;
    list-style: none;
  }

  .responsive-nav ul  li a{
    text-decoration: none;
    font-size: 18px;
     color: #FFF;
  }

  .textarea {
    width: 70%;

  }
  i{
   margin-left: 6%;
  }
  .empleado-content{
    margin-left: 8%;
    width: 76%;
  }

}

@media only screen and (max-width : 320px){

  .contenedor-barra{
    margin-left: 0px;
  }

  .logo-navbar {    
    width: 10%;    
  }

  .name-admin, .nav-ul, .text-logo{
    display: none;
  }

  .nav-options {
    width: 60%;
  }

  .nav-options ul {
    width: 50%;
  }


  .dropdown, .responsive-nav{
    display: block;
  }
  .dropdown{
    float:left;
  }

  .fa-home{
    display: none;
  }

  .dropbtn{
    margin-top: 0px;
    display: inline-block;
  }

  .responsive-nav{
    width: 78%;
    float: right;
  }

  .responsive-nav nav{
    width: 35%;
  }

  .responsive-nav ul{
    list-style: none;           
  }

  .responsive-nav ul li{  
    float: left;
    list-style: none;
  }

  .responsive-nav ul  li a{
    text-decoration: none;
    font-size: 18px;
     color: #FFF;
  }

  .textarea {
    width: 70%;

  }
  i{
   margin-left: 6%;
  }
  .empleado-content{
    margin-left: 8%;
    width: 76%;
  }

}